#work{
  .work{
    &--titles{
      padding: 5% 0;
      @extend %title_page;
      h1{
        font-size: calc(26px + 36 * (100vw / 1400));
      }
    }
  }
  .work--description{
    padding: 30px 0;
    @extend %description;
  }
}

.empty-place{
  background: #F5F5F5;
  height: 400px;
  text-align: center;
  padding: 30px 0;
}

.main-service-img{
  background: url("../../media/service_png/mainService.jpg") no-repeat center / cover;
  min-height: 681px;
  object-fit: cover;
}

.team-image{
  background: url("../../media/img/team-image.jpg") no-repeat top / cover;
  min-height: 781px;
  object-fit: cover;
}

#resume{
  padding: 5% 0;
  background: #F5F5F5;
  position: relative;
  .resume{
    position: relative;
    z-index: 5;
    h1{
      @extend %title;
      color: #424242;
    }
    p{
      @extend %description;
      color: #424242;
      margin: 40px 0;
    }
    &--params{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 35%;
      div{
        margin-right: 20px;
      }
      input {
        font-family: 'Lato', sans-serif;
        padding: 20px;
        margin-right: 20px;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        margin-top: 20px;
        color: black;
        background: transparent;
        border: 1px solid rgba(66, 66, 66, 0.3);
        outline: none;

        &::placeholder {
          font-weight: 400;
          color: #42424280;
        }
      }
      button{
        margin-right: 20px;
        transition: .2s;
        &:hover{
          background: #2AB057 !important;
          border: 1px solid white;
          color: #FFFFFF !important;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .resume{
    &--params{
      padding-right: 0 !important;
    }
  }
}

@media (max-width: 576px) {
  .work{
    &--titles{
      flex-direction: column;
      h1{
        margin: 20px 0;
      }
      p{
        margin-left: 0 !important;
      }
    }
    .resume--params > button{
      padding: 20px 10px !important;
    }
  }

}
@media (max-width: 440px) {
  .resume{
    padding-bottom: 40%;
  }
  .resume--params{
    flex-direction: column;
  }
}
@media (max-width: 375px) {

}