// About Company

#about {
  padding: 3% 0;

  .about {
    display: flex;

    &--images {
      position: relative;
      //align-items: center;
      width: 472px;
      min-height: 580px;

      &--2 {
        position: absolute;
        right: 0;
        bottom: -5%;
      }
      &--1 {
        position: relative;
        transition: .3s;
        &:hover{
          z-index: 4;
        }
      }
    }

    &--items {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 700px;

      h1 {
        @extend %title;
        margin-bottom: 40px;
      }

      p {
        @extend %description;
        margin-bottom: 17%;
      }
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .about {
    padding: 10% 0;
    flex-direction: column-reverse !important;
    &--images {
      width: 100% !important;
      padding: 10% 0;
      &--2 {
        right:0!important;
      }
    }
    &--items{
      width: 100% !important;
      &--btn {
        width: 100%;
        padding-right: 0 !important;
        button{
          padding: 26px 47px !important;
        }
      }
    }
  }
}

@media (max-width: 375px) {

}