*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container{
  width: 1280px;
  margin: 0 auto;
  padding: 0 5px;
}

a, a:hover {
  text-decoration: none;
}


html, body{
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #797979;
    border-radius: 5px;
  }
}

@media (max-width: 1400px) {
  .Container{
    width: 90%;
  }
}