
#certificate {
  margin: 10% 0;

  .certificate {

    .slick-slider{
      .slick-prev{
        display: none !important;
      }
      .slick-next{
        display: none !important;
      }
    }
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8% 0;

      h1 {
        @extend %title;
      }

      span {
        @extend %medium-text;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 400;
      }
    }
  }
}

#view-more{
  padding: 50px 0;
  .view-more{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 440px) {
  .certificate--title {
    span {
      display: none
    }
  }
}