#equipments {
  .equipments {
    &--titles {
      display: flex;
      justify-content: space-between;
      align-items: start;

      h1 {
        width: 100%;
        @extend %title;
      }

      p {
        margin-left: 10%;
        @extend %description;
      }
    }

    &--list {
      padding: 5% 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: start;

      &--card {
        width: 350px;
        margin: 20px;
        cursor: pointer;
        &--image {
          width: 100%;
          background: #F5F5F5;
          padding: 20px 2rem;
          transition: .2s;

          img {
            width: 95%;
          }
        }

        h3 {
          margin: 10px 0;
          @extend %medium-text;
          transition: .2s;
        }

        p {
          @extend %description;
          font-size: calc(10px + 6 * (100vw / 1400));
          line-height: 120%;
        }

        &:hover {
          .equipments--list--card--image {
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          }

          h3 {
            color: #2AB057;
          }
        }
      }
    }

    &--adaptive {
      padding: 5% 0;
      display: none;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: start;

      &--card {
        width: 350px;
        margin: 20px;

        &--image {
          width: 100%;
          background: #F5F5F5;
          padding: 20px 2rem;

          img {
            width: 95%;
          }
        }

        h3 {
          margin: 10px 0;
          @extend %medium-text;
        }

        p {
          @extend %description;
          font-size: calc(10px + 6 * (100vw / 1400));
          line-height: 120%;
        }
      }
    }
  }
}


@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 912px) {

}

@media (max-width: 820px) {
  .equipments--list--card {
    width: 43% !important;
  }
  .equipments--adaptive--card {
    width: 43% !important;
  }
}

@media (max-width: 768px) {
  .cover-catalog--titles {
    flex-direction: column !important;

    p {
      margin-left: 0 !important;
    }
  }
  .equipments--list--card {
    margin: 20px 0 !important;
  }
  .equipments--adaptive--card {
    margin: 20px 0 !important;
  }
}

@media (max-width: 576px) {
  .view-more {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px 0;
    color: #2AB057;
    text-decoration: underline;
  }
  .equipments--list {
    display: none !important;
  }
  .equipments--adaptive {
    display: flex !important;
  }
}

@media (max-width: 440px) {
  .equipments--titles {
    flex-direction: column;

    h1 {
      margin: 10px 0;
    }

    p {
      margin-left: 0 !important;
    }
  }
}

@media (max-width: 375px) {

}